{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">S'authentifier</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" class="form-control"/>
              </div>
              <br/>
              <div class="form-label-group">
                <input type="password" id="password" name="_password" placeholder="Password" class="form-control"/>
              </div>
              <br/>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
